.btn-loader {
  display: flex;
  align-items: center;
}
.card-header {
  background: #fff;
  border-radius: 5px 5px 0 0;
}
.dataTables_scrollHead .table {
  margin: 0;
}
select[readonly],
.form-control[readonly] {
  pointer-events: none;
}
.form-control-file {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}
